# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/
env/
.pytest_cache/

# Environment & secrets
.env
*.env.local
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# Databases & local sqlite
*.db
*.sqlite
*.sqlite3

# Large ML data & artifacts
data/raw/*.csv
data/raw/*.parquet
data/processed/*.csv
data/processed/*.parquet
data/processed/*.npy
ml/models/candidates/


# Node & Frontend
**/node_modules/
frontend/dist/
frontend/build/
.npm/

# OS & Logs
*.log
.DS_Store
Thumbs.db
.ipynb_checkpoints/
